<% include ../partials/header %>
<div class="container">
<div class="form" >
    <h1>create your camp below</h1>
    <form action="/camp" method="post">
        <div class="input">
            <input type="text" name="place" placeholder="enter place" id=""> 
        </div>
        <div class="input">
            <input type="text" name="image" placeholder="image goes here" id="">
        </div>
        <div class="input">
            <input type="text" name="funtype" placeholder="funs" id="">
        </div>
        <button class="btn-success" type="submit">create</button>
    </form>
</div>
</div>