<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="/stylesheets/main.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <title>summer</title>
</head>
<body>
   

<div id="welcome-header">
   <h1>welcome to summer camp guys</h1>
   <a id="link" href="/camp">Take a look</a>
</div>
<ul class="slideshow">
   <li></li>
   <li></li>
   <li></li>
   <li></li>
</ul>
</body>
</html>


