<% include partials/header %>
<div class="container">
<div class="form">
    <h1>Login!</h1>
    <%=error %>
    <form action="/login" method="post">
        <div class="input">
            <input type="text" name="username" placeholder="enter user name" id="">
        </div>
        <div class="input">
            <input type="password" name="password" placeholder=" password" id="">
        </div>
        <input  class='btn-success' type="submit" value="Login">
    </form>

</div>
</div>
<% include partials/footer %>
